<form method = "GET" action="/insert">
	<span>name: </span><input id="name" type="text" name="name"><br>	
	<span>reps: </span><input id="reps" type="text" name="reps"><br>
	<span>weight: </span><input id="weight" type="text" name="weight"><br>
	<span>date: </span><input id="due" type="date" name="due"><br>
	<span>lbs (1:lbs, 0:kgs): </span><input id="done" type="text" name="done"><br>

</form>

	<button id="add">add</button>


<div id="editForm"></div>

<h1>Workouts:</h1>
<script src="/js/script.js"></script>
